# Ambiente Virtual Python
.venv/
venv/
ENV/

# Variáveis de Ambiente e Chaves Secretas (CRÍTICO)
.env

# Banco de Dados Vetorial Local (Opcional, mas recomendado reconstruir via script)
# database/

# Arquivos de Cache e Python
__pycache__/
*.py[cod]
*$py.class
.DS_Store
